[mysqld]
bind-address=0.0.0.0
socket=/var/run/mysqld/mysqld.sock

# Logging
log-error=/var/log/mysql/error.log
slow_query_log=1

# General settings
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Performance tweaks
innodb_buffer_pool_size=256M
innodb_log_file_size=48M

# Увеличение размера кэширования соединений
key_buffer_size=64M

skip-log-bin
#skip-host-cache
#skip-name-resolve

[client]
prompt = "sql ^_^ [\d] "